<nav class="navbar navbar-expand-lg bg-wine-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-wine-light" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex ml-auto" role="search">
          <input class="form-control form-control-sm me-2 search-box" type="search" placeholder="Search" aria-label="Search">
        </form>
        <ul class="navbar-nav mb-2 mb-lg-0 ml-auto">
          <li>
            <i class="fa fa-bell-o text-white" aria-hidden="true"></i>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Nichlolas D.
              <button class="btn btn-sm btn-warning btn-round">N</button>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>