.spacer {
    flex: 1 1 auto;
  }

  .title {
    cursor: pointer;
  }

  .welcome-text {
    font-size: smaller;
  }

  .search-box {
    width: 350px;
  }

  .fa.fa-bell-o {
    position: relative;
    top: 11px;
    font-size: 20px;
    margin-right: 15px;
  }

  .btn-round {
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .dropdown-toggle {
    font-size: 14px;
  }